<div class="row">

    <div class="col-md-8">
        <div *ngFor="let video of videos" (click)="showVideo(video.youtubeId)">
            <!-- Video Post -->
            <div class="card mb-4">
                <div class="row">

                    <div class="col-lg-4">
                        <img [src]="'https://img.youtube.com/vi/' + video.youtubeId + '/sddefault.jpg' | safe"
                            width="100%" height="100%" />
                    </div>

                    <div class="col-lg-8">
                        <div class="card-body">
                            <h4 class="card-title">{{video.title}}</h4>
                            <div class="card-subtitle">
                                <star-rating value="5" checkedcolor="gold" uncheckedcolor="#fff" size="18px" readonly="true"></star-rating>
                            </div>
                            <p class="card-text">Some example video description.</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <app-video-filter></app-video-filter>
    </div>
</div>