@import "../node_modules/bootstrap/scss/bootstrap.scss"

$navbar-height: 56px

.navbar
  height: $navbar-height

body
  padding-top: $navbar-height

.card
  @extend .shadow-sm

.card-header
  background: #fff
